.menu{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    border-bottom: 1px solid #63D919;
    width: 1530px;
    margin-top: 23px;
    align-items: center;
}

.upper{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    width: 1500px;
    height: 10px;
}

.data{
    margin-top: 80px;
    display: flex;
    justify-content: flex-start;
}

.ball{
    height: 69px;
width: 69px;
margin-right: 60px;
}

h1{
color: #D9C919;
margin-top: 45px ; /* margin - внешний отступ */
font-size: 96px; /* размер шрифта */
line-height: 120%; /* высота шрифта */
margin-left: 66px;
}

p{
color: #63D919;
font-size: 20px; 
line-height: 120%; 
margin-left: 66px;
}

article{
    width: 502px;
}



.text{
    margin-top: 25px ;
    width: 502px;
}

.button{
    display:flex;
margin-left: 66px;
gap: 20px;
height: 75px;
width: 332px;
margin-top: 50px;
text-align: center;
border-color: #FF96C9;
background-color: #131619;
color:#FF96C9;
border-radius: 22px;
font-size: 60px;
}

.computer{
    height: 900px;
    width: 798px;
    margin-top: 1px;
margin-right: 135px;}



body{
    background:#131619;
}

.page1{
    width: 1440px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.page2{
    width: 1440px;
    height: 410px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.hand{
    width: 50%;
    height:50%;
    margin-top: -400px;
   
}

h2{
    color: #D9C919;
    font-size: 90px;
}
.history{
    margin-top: 45px ; 
    line-height: 120%; 
    margin-left: 66px;
    line-height: 85px;
}
.text2{
    margin-right: 66px;
    margin-top: 25px;
}

.year{
    margin-top: -80px;
    margin-left: 66px;
}

.vector{
    overflow: hidden;
    margin-top: -550px;
    display:flex;
    justify-content: flex-end;
    margin-left: 1400px;;
}

table{
    margin-top: 64px;
    border: 1px solid #63D919;
    width: 1312px;
    text-align:left;
    font-size: 32px;
    color: #63D919;
    padding-top: 90px;
}

th {
    border: 1px solid #63D919;

 }

 td {
    border: 1px solid #63D919;
 }

.page3{
    margin-top: -197px;
    margin-left:66px;

}
.info{
    color: #FF96C9;
}