.menu{
    display: flex;
    gap: 20px;
    border-bottom: 1px solid #63D919;
    width: 1523px;
    height: 30px;
    margin-top: 23px;
    align-items: center;
}

.menu p{
    margin-bottom: 1.5%;
}

.upper{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    width: 1500px;
    height: 10px;
}

.data{
    margin-top: 80px;
    display: flex;
    justify-content: flex-start;
}

.ball{
    height: 69px;
width: 69px;
margin-right: 60px;
}

h1{
color: #D9C919;
margin-top: 15px ; /* margin - внешний отступ */
font-size: 96px; /* размер шрифта */
line-height: 120%; /* высота шрифта */
margin-left: 66px;
}

p{
color: #63D919;
font-size: 20px; 
line-height: 120%; 
margin-left: 66px;
}

article{
    width: 502px;
}



.text{
    margin-top: 25px ;
    width: 502px;
}

.button{
    display:flex;
margin-left: 66px;
height: 75px;
width: 332px;
margin-top: 50px;
padding-left: 32px;
border-color: #FF96C9;
background-color: #131619;
color:#FF96C9;
border-radius: 22px;
font-size: 60px;
}

.computer{
    height: 900px;
    width: 798px;
    margin-top: 1px;
margin-right: 135px;}



body{
    background:#131619;
}

.page1{
    width: 1440px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.page2{
    width: 1440px;
    height: 410px;
    display: flex;
    justify-content: space-between;
}

.hand{
   height: 120%;
    margin-top: -200px;
    margin-left: 66px;
}

h2{
    color: #D9C919;
    font-size: 90px;
}
.history{
    margin-top: 45px ; 
    line-height: 120%; 
    margin-left: 66px;
    line-height: 85px;
}
.text2{
    margin-right: 66px;
    margin-top: 25px;
}

.year{
    margin-top: -80px;
    margin-left: 66px;
}

.vector{
    width: 40%;
    height: 40%;
    overflow: hidden;
    margin-top: -380px;
    display:flex;
    justify-content: flex-end;
    margin-left: 1319px;
}

table{
    margin-top: 38px;
    border: 1px solid #63D919;
    width: 1312px;
    text-align:left;
    font-size: 32px;
    color: #63D919;
    padding-top: 90px;
    border-collapse: collapse; /* Чтобы убрать двойные линии */
    width: 1380px;}

th, td {
        border: 1px solid #63D919; /* Добавляет границы для ячеек */
        padding: 20px; /* Внутренние отступы */
        text-align: left; /* Выравнивание текста по левому краю */
      }

.page3{
    margin-top: -500px;
    margin-left:66px;

}
.info{
    color: #FF96C9;
    width:300%;
}


.page4{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    width: 1500px;
}

.hack{
    margin-right: 66px;
    margin-top: 297px;
    text-align: right;
    font-size: 96px;
    color: #63D919;
}
.pink{
    margin-left: 1000px;
    margin-top: -510px;
}

.paper{
    display: flex;
    justify-content: space-around;
    margin-right: 66px;
    width: 300%;
    margin-top: -1200px;
}

.papers{
    display: flex;
    justify-content: space-around;
    margin-right: 66px;
    width: 300%;
    margin-top: -560px;
    opacity: 70%;
    
}

.paper1{
   font-size: 20px; 
   color: black;
   margin-left: 10px;
   transform: rotate(2deg);
   margin-top: 340px;
}

.paper2{
    font-size: 20px; 
    color: black;
    margin-left: 5px;
 }
 
 .paper3{
display: flex;
justify-content: space-around;
margin-left: 120px;
margin-top: -1150px;

 }
.chetki{
    font-size: 24px;
    color: black;
    margin-top: -600px;
    margin-left: 160px;
}

 .sfer{
    color:black;
    font-size: 24px;
 }
 .i{
    border-top: 1px solid #63D919;
    border-bottom: 1px solid #63D919;
    width: 780px;
    height:212px;
    margin-left: 66px;
    margin-top: 500px;
 }


.il{
    font-size: 300px;
    margin-top: -68px;
}

.o{
    border-top: 1px solid #63D919;
    border-bottom: 1px solid #63D919;
    width: 780px;
    height:212px;
    margin-left: 66px;
    margin-top: 200px;
}
.page5{
    display: flex;
    justify-content: space-around;
    width: 1450px;
    height:212px;
}

.otlichie{
    margin-top: 167px;
    margin-left: 66px;
    font-size: 32px;
}

.ij{
    margin-top: -129px;
    font-size: 300px;
}

.j{
    border-top: 1px solid #63D919;
    border-bottom: 1px solid #63D919;
    width: 780px;
    height:150px;
    margin-left: 66px;
    margin-top: 400px;
}


.sticker{
    display: flex;
    margin-right: 1px;
    margin-top: 50px;
    width: 1440px;
}